Q1. What is a database? Differentiate between SQL and NoSQL databases.

Database : Database is a structured collection of data that is organised and stored in efficient way.
It allows to efficient retrieval,manipulation,and management of data

Two types of databases:
1. SQL(structured query launguage).
2. NoSQL(Not only SQL) these differ from data models,query languages,and usage scenarios.

SQL:
1. Data organised in tabular form.
2. predefined schema with fixed datatypes.
3. It ensures data integrity and consistency.
4. It uses SQL language to communicate with SQL Databases to fetch,update,and delete data.
5. It used to store structure data only.
6. It is vertically scalable.
7. Ex : Mysql,Oracale DB,Microsoft SQL server.

NoSQl:
1. It uses variety of data models key:value,document,columnar,graph formats.
2. It desingned to more scalable,amd flexible compared to SQL databases.
3. It is horzontally scalable.
4. These databases use different Query language according to their specific data models.
5. It is used to handle large amount of semi-structured data.
6. It is schema less.
7. Ex : MongoDB,HBase,Cassandra,etc.

Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.


DDL stands for Data Definition Language. It is a set of SQL (Structured Query Language) statements used to define and manage the structure of a database, including tables, views, indexes, and constraints. DDL statements are used to create, modify, and delete database objects.

CREATE:
The CREATE statement is used to create a new database object, such as a table or a view. It specifies the object's name, structure, and any additional properties.

In [ ]:
CREATE TABLE Customers (
    ID INT PRIMARY KEY,
    Name VARCHAR(50),
    Email VARCHAR(100)
);

DROP:
The DROP statement is used to remove an existing database object, such as a table or a view. It permanently deletes the object and its data from the database

In [ ]:
DROP TABLE Customers;

ALTER:
The ALTER statement is used to modify the structure of an existing database object, such as a table. It allows you to add, modify, or delete columns, constraints, or other properties of the object.

In [ ]:
ALTER TABLE Customers
ADD Phone VARCHAR(20);

TRUNCATE:
The TRUNCATE statement is used to delete all data from an existing table quickly. It removes all rows from the table while keeping the table structure intact. Unlike the DROP statement, TRUNCATE does not delete the table itself.

In [ ]:
TRUNCATE TABLE Customers;

Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

DML stands for Data Manipulation Language. It is a subset of SQL (Structured Query Language) that allows users to modify and manipulate data stored in a database. The three main operations in DML are INSERT, UPDATE, and DELETE.

INSERT: The INSERT statement is used to add new records or rows into a table. It allows you to specify the values that should be inserted into each column of the table.

For Example: Table: Employees, Columans: EmployeeID, FirstName, LastName, Department

In [ ]:
INSERT INTO Employees (EmployeeID, FirstName, LastName, Department)
VALUES (1, 'John', 'Doe', 'Sales');

UPDATE: The UPDATE statement is used to modify existing records in a table. It allows you to update the values of one or more columns in the table

In [ ]:
UPDATE Employees
SET Department = 'Marketing'
WHERE EmployeeID = 1;

DELETE: The DELETE statement is used to remove existing records from a table. It allows you to specify the criteria for selecting the records to be deleted.

In [ ]:
DELETE FROM Employees
WHERE EmployeeID = 1;

Q4. What is DQL? Explain SELECT with an example.

The Data Query Language, or DQL for short, is the group of commands responsible for querying data from a database. The principal DQL command in SQL is the SELECT command, which retrieves data from one or more tables.

In [ ]:
SELECT * FROM Employees

Q5. Explain Primary Key and Foreign Key.

Primary Key:
1. Unique identifier used to fetch each row in a table.
2. No Duplicate or NULL or empty entries in primary key.

Foreign Key:
1) A foreign key is a column or a set of columns in one table that refers to the primary key in another table. It establishes a relationship between two tables by referencing the primary key of another table.
2) Foreign keys help establish one-to-one, one-to-many, or many-to-many relationships between tables.
3) The values can be a NULL or Empty in Foreign Key.

Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

In [ ]:
pip install mysql-connector-python

In [ ]:
import mysql.connector

# Connect to the database
mydb = mysql.connector.connect(
    host="localhost",
    user="username",
    password="password",
    database="database"
)

# Create a cursor object
cursor = mydb.cursor()

# Execute a SQL query
cursor.execute("SELECT * FROM yourtable")

# Fetch all the rows
result = cursor.fetchall()

# Iterate over the rows and print the data
for row in result:
    print(row)

# Close the cursor and the connection
cursor.close()
mydb.close()

Q7. Give the order of execution of SQL clauses in an SQL query.

The order of execution of SQL clauses in a typical SQL query is as follows:
1. FROM : To fetch data from specifiec table.
2. WHERE : This used to filter acconding to condition.
3. GROUP BY : Group of rows based on specific columns.
4. HAVING : Used filter rows based on condition.
5. SELECT : Used to specify the columns to fetch.
6. DISTINCT : To eliminate duplicate rows in specified columns.
7. ORDER BY : used to sort the results set based on specified columns.
8. LIMIT : To return restricted specified no. of rows.